/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {

  config_profile_name = 'RNA-seq test data from Gendrel et al. (2012)'
  config_profile_description = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run on Travis
  max_cpus = 4
  max_memory = 8.GB
  max_time = 4.h

  // Input data  
  //samplePlan = "$baseDir/test-op/sampleplan.csv" 
  readPaths = [
    ['SRR1106775_1', ["$baseDir/test-op/data/SRR1106775-1M_1.fastq.gz", "$baseDir/test-op/data/SRR1106775-1M_2.fastq.gz"]]
   ]

  rnaseq = true 
  paternal = "129S1_SvImJ"
  maternal = "CAST_EiJ"
  saveReference = true
  genome =  'mm10'
}
