#
# RNA-seq config for MultiQC
#
#################################################################

skip_generalstats: true
read_count_multiplier: 0.000001
read_count_prefix: 'M'
read_count_desc: 'millions'

###################################
## Custom content

custom_data:
    my_stats:
        file_format: 'csv'
        section_name: 'General Metrics'
        description: ' of sequenced data. Note that in the context of paired-end data, the number pairs are reported (as reads).'
        plot_type: 'table'
        pconfig:
            namespace: 'stats'
            id: 'stats'
            title: 'General Statistics'
            save_file: true
            col1_header: 'Sample ID'
        headers:
            Sample_name:
              title: 'Sample Name'
              scale: false
              format: '{:.0f}'
              placement: 2000
            Genotypes:
              title: 'Genotpyes'
              description: 'Paternal/Maternal'
              scale: false
              format: '{:.0f}'
              placement: 3000
            Number_of_reads:
              title: 'Total Reads'
              scale: 'YlGnBu'
              format: '{:,.0f}'
              placement: 4000
            Strandness:
              scale: false
              placement: 5000
            Number_of_aligned_reads:
              title: 'Aligned Reads'
              scale: 'RdYlGn'
              format: '{:,.0f}'
              hidden: true
              placement: 6000
            Percent_of_aligned_reads:
              title: 'Aligned Reads (%)'
              min: 0
              max: 100
              scale: 'RdYlGn'
              suffix: '%'
              format: '{:,.1f}'
              placement: 7000
            Number_paternal:
              title: 'Paternal'
              scale: 'RdYlGn'
              format: '{:,.0f}'
              hidden: true
              placement: 8000
            Percent_paternal:
              title: 'Paternal (%)'
              min: 0
              max: 100
              scale: 'RdYlGn'
              suffix: '%'
              format: '{:,.1f}'
              placement: 9000
            Number_maternal:
              title: 'Maternal'
              scale: 'RdYlGn-rev'
              format: '{:,.0f}'
              hidden: true
              placement: 10000
            Percent_maternal:
              title: 'Maternal (%)'
              min: 0
              max: 100
              scale: 'RdYlGn-rev'
              suffix: '%'
              format: '{:,.1f}'
              placement: 11000
            Number_unassigned:
              title: 'Unassigned'
              scale: 'RdYlGn-rev'
              format: '{:,.0f}'
              hidden: true
              placement: 12000
            Percent_unassigned:
              title: 'Unassigned (%)'
              min: 0
              max: 100
              scale: 'RdYlGn-rev'
              suffix: '%'
              format: '{:,.1f}'
              placement: 13000
            Number_conflicting:
              title: 'Conflicting'
              scale: 'RdYlGn-rev'
              format: '{:,.0f}'
              hidden: true
              placement: 14000
            Percent_conflicting:
              title: 'Conflicting (%)'
              min: 0
              max: 100
              scale: 'RdYlGn-rev'
              suffix: '%'
              format: '{:,.1f}'
              placement: 15000

    assort:
       file_format: 'csv'
       section_name: 'Allele-specific Sort'
       description: 'Reads were assigned to maternal/paternal genomes according to their SNPs information'
       plot_type: 'bargraph'
       pconfig:
            namespace: 'assort'
            id: 'assort'
            title: 'SNPsplit reads sorting'
            ylab: 'Number of reads'
            scale: 'Pastel1'

    asratio:
       file_format: 'csv'
       section_name: 'Gene Allelic Ratio'
       description: 'Average gene allelic ratio per chromosome'
       plot_type: 'heatmap'
       pconfig:
            namespace: 'asratio'
            id: 'asratio'
            title: 'Mean Gene Allelic Ratio'
            ylab: 'Mean Allelic Ratio'
            xlab: 'Chromosomes'
            borderWidth: 2
            min: 0
            max: 1
            xcats_samples: False
            #colstops: 'RdYlGn'
            #tt_decimals: 2
            #scale: 'Pastel2'

sp:
   my_stats:
      fn: '*.stats'
   assort:
      fn: '*sort.mqc'
   asratio:
      fn: '*heatmap.mqc'


table_cond_formatting_rules:
    Percent_paternal:
        pass:
            - gt: 20
        warn:
            - lt: 20
        fail:
            - lt: 10
    Percent_maternal:
        pass:
            - gt: 20
        warn:
            - lt: 20
        fail:
            - lt: 10
    Percent_conflicting:
        pass:
            - lt: 5
        warn:
            - gt: 5
        fail:
            - gt: 10


################################
## Clean sample names

#extra_fn_clean_exts:
#    - 'gcurve.txt'

###############################
## Modules 

module_order:
  - fastqc
  - bowtie2:
      path_filters:
        - '*bowtie2.log'
  - star
  - hisat2
  - tophat
  - featureCounts

#############################
## Display

report_section_order:
  stats:
    order: 1
  assort:
    order: -500
  asratio:
    order: -600
  software_versions:
    order: -1000
  summary:
    order: -1100

plots_force_interactive: True
